.ChatMain{
  position: fixed;
  margin-left: 300px;
  height:100vh;
  width: calc(100vw - 300px);
  &__header{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__name{
      padding: 35px 27px 40px;
      &__group-name{
        color: $main_dark;
        font-size: 20px;
        padding-bottom: 15px;
      }
      &__member{
        color: $main_gray;
        font-size: 12px;
      }
    }
    a{
      height: 40px;
      width: 72px;
      text-decoration: none;
      font-size: 16px;
      color: $light_blue;
      border: 1px solid $light_blue;
      text-align: center;
      line-height: 40px;
      margin-top:28px;
      margin-right: 40px;
    }
  }
  &__messages{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 46px 40px;
    overflow: scroll;
    .message{
      padding-bottom: 40px;
      .upper-message{
        display: flex;
        margin-bottom: 12px;
        &__user-name{
          color: $main_dark;
          font-size: 16px;
        }
        &__date{
          padding-left: 10px;
          color: $main_gray;
          font-size: 12px;
        }
       }
      .lower-message{
        color: #434A54;
        font-size: 14px;
      }
    }  
  }
  form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 50px 20px 40px;
    display: flex;
    .form__text{
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    .form__input-box{
      background-color: $white;
      height: 50px;
      padding-right: 10px;
      float: left;
      &__image{
          font-size: 20px;
          line-height: 50px;
      }
      .hidden{
          display: none;
      }
    }
    .form__submit{
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: $light_blue;
      color: $white;
      border: none;
      float: right;
    }
  }
}
